
<div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 shadow mt-4">
                <div class="card card-inverse card-info">
                    <img class="card-img-top" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/fx1vjkeijiq4uayblxz8">
                    <div class="card-block">

                        <h4 class="card-title">Food Name &nbsp <small>456</small></h4>
                        <div class="card-text">
                            Food Description
                            <br />
                        </div>
                    </div>
                    <div class="card-footer">


                        <div class="qty mt-15">
                            <span class="minus bg-light">-</span>
                            <input type="number" class="count" name="qty" value="1">
                            <span class="plus bg-light">+</span>
                            <button class="btn btn-dark float-right btn-sm">Add</button>
                        </div>


                    </div>
                </div>
            </div>













            <div class="col-sm-6 col-md-4 col-lg-3 shadow mt-4">
                <div class="card card-inverse card-info">
                    <img class="card-img-top" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/fx1vjkeijiq4uayblxz8">
                    <div class="card-block">

                        <h4 class="card-title">Food Name &nbsp <small>Price</small></h4>
                        <div class="card-text">
                            Food Description

                            <br />
                        </div>
                    </div>
                    <div class="card-footer">


                        <div class="qty mt-15">
                            <span class="minus bg-light">-</span>
                            <input type="number" class="count" name="qty" value="1">
                            <span class="plus bg-light">+</span>
                            <button class="btn btn-dark float-right btn-sm">Add</button>
                        </div>


                    </div>
                </div>
            </div>













            <div class="col-sm-6 col-md-4 col-lg-3 shadow mt-4">
                <div class="card card-inverse card-info">
                    <img class="card-img-top" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/fx1vjkeijiq4uayblxz8">
                    <div class="card-block">

                        <h4 class="card-title">Food Name &nbsp <small>Price</small></h4>
                        <div class="card-text">
                            Food Description

                            <br />
                        </div>
                    </div>
                    <div class="card-footer">


                        <div class="qty mt-15">
                            <span class="minus bg-light">-</span>
                            <input type="number" class="count" name="qty" value="1">
                            <span class="plus bg-light">+</span>
                            <button class="btn btn-dark float-right btn-sm">Add</button>
                        </div>


                    </div>
                </div>
            </div>









            <div class="col-sm-6 col-md-4 col-lg-3 shadow mt-4">
                <div class="card card-inverse card-info">
                    <img class="card-img-top" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/fx1vjkeijiq4uayblxz8">
                    <div class="card-block">

                        <h4 class="card-title">Food Name &nbsp <small>Price</small></h4>
                        <div class="card-text">
                            Food Description

                            <br />
                        </div>
                    </div>
                    <div class="card-footer">


                        <div class="qty mt-15">
                            <span class="minus bg-light">-</span>
                            <input type="number" class="count" name="qty" value="1">
                            <span class="plus bg-light">+</span>
                            <button class="btn btn-dark float-right btn-sm">Add</button>
                        </div>


                    </div>
                </div>
            </div>













            <div class="col-sm-6 col-md-4 col-lg-3 shadow mt-4">
                <div class="card card-inverse card-info">
                    <img class="card-img-top" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/fx1vjkeijiq4uayblxz8">
                    <div class="card-block">

                        <h4 class="card-title">Food Name &nbsp <small>Price</small></h4>
                        <div class="card-text">
                            Food Description

                            <br />
                        </div>
                    </div>
                    <div class="card-footer">


                        <div class="qty mt-15">
                            <span class="minus bg-light">-</span>
                            <input type="number" class="count" name="qty" value="1">
                            <span class="plus bg-light">+</span>
                            <button class="btn btn-dark float-right btn-sm">Add</button>
                        </div>


                    </div>
                </div>
            </div>












            <div class="col-sm-6 col-md-4 col-lg-3 shadow mt-4">
                <div class="card card-inverse card-info">
                    <img class="card-img-top" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/fx1vjkeijiq4uayblxz8">
                    <div class="card-block">

                        <h4 class="card-title">Food Name &nbsp <small>Price</small></h4>
                        <div class="card-text">
                            Food Description

                            <br />
                        </div>
                    </div>
                    <div class="card-footer">


                        <div class="qty mt-15">
                            <span class="minus bg-light">-</span>
                            <input type="number" class="count" name="qty" value="1">
                            <span class="plus bg-light">+</span>
                            <button class="btn btn-dark float-right btn-sm">Add</button>
                        </div>


                    </div>
                </div>
            </div>











            <div class="col-sm-6 col-md-4 col-lg-3 shadow mt-4">
                <div class="card card-inverse card-info">
                    <img class="card-img-top" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/fx1vjkeijiq4uayblxz8">
                    <div class="card-block">

                        <h4 class="card-title">Food Name &nbsp <small>Price</small></h4>
                        <div class="card-text">
                            Food Description

                            <br />
                        </div>
                    </div>
                    <div class="card-footer">


                        <div class="qty mt-15">
                            <span class="minus bg-light">-</span>
                            <input type="number" class="count" name="qty" value="1">
                            <span class="plus bg-light">+</span>
                            <button class="btn btn-dark float-right btn-sm">Add</button>
                        </div>


                    </div>
                </div>
            </div>











            <div class="col-sm-6 col-md-4 col-lg-3 shadow mt-4">
                <div class="card card-inverse card-info">
                    <img class="card-img-top" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/fx1vjkeijiq4uayblxz8">
                    <div class="card-block">

                        <h4 class="card-title">Food Name &nbsp <small>Price</small></h4>
                        <div class="card-text">
                            Food Description

                            <br />
                        </div>
                    </div>
                    <div class="card-footer">


                        <div class="qty mt-15">
                            <span class="minus bg-light">-</span>
                            <input type="number" class="count" name="qty" value="1">
                            <span class="plus bg-light">+</span>
                            <button class="btn btn-dark float-right btn-sm">Add</button>
                        </div>


                    </div>
                </div>
            </div>









            <div class="col-sm-6 col-md-4 col-lg-3 shadow mt-4">
                <div class="card card-inverse card-info">
                    <img class="card-img-top" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/fx1vjkeijiq4uayblxz8">
                    <div class="card-block">

                        <h4 class="card-title">Food Name &nbsp <small>Price</small></h4>
                        <div class="card-text">
                            Food Description

                            <br />
                        </div>
                    </div>
                    <div class="card-footer">


                        <div class="qty mt-15">
                            <span class="minus bg-light">-</span>
                            <input type="number" class="count" name="qty" value="1">
                            <span class="plus bg-light">+</span>
                            <button class="btn btn-dark float-right btn-sm">Add</button>
                        </div>


                    </div>
                </div>
            </div>










            <div class="col-sm-6 col-md-4 col-lg-3 mt-4 shadow">
                <div class="card card-inverse card-info">
                    <img class="card-img-top" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/fx1vjkeijiq4uayblxz8">
                    <div class="card-block">

                        <h4 class="card-title">Food Name &nbsp <small>Price</small></h4>
                        <div class="card-text">
                            Food Description

                            <br />
                        </div>
                    </div>
                    <div class="card-footer">


                        <div class="qty mt-15">
                            <span class="minus bg-light">-</span>
                            <input type="number" class="count" name="qty" value="1">
                            <span class="plus bg-light">+</span>
                            <button class="btn btn-dark float-right btn-sm">Add</button>
                        </div>


                    </div>
                </div>
            </div>




        </div>

    </div>
    <div class="footer bg-dark">
  <p>................................................</p>
</div>
    <script>

        $(document).ready(function () {
            $('.count').prop('disabled', true);
            $(document).on('click', '.plus', function () {
                $('.count').val(parseInt($('.count').val()) + 1);
            });
            $(document).on('click', '.minus', function () {
                $('.count').val(parseInt($('.count').val()) - 1);
                if ($('.count').val() < 0) {
                    $('.count').val(0);
                }
            });
        });
    </script>
