html {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h5 {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
    margin: 0;
}

.card {
    font-size: 1em;
    overflow: hidden;
    border-radius: .4rem;
    box-shadow: 0 1px 3px 0 #d4d4d5;
}

.card-block {
    font-size: 1em;
    position: relative;
    padding: 1em;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

.card-title {
    font-size: 1.5em;
    font-weight: 700;
}

.card-text {
    clear: both;
    margin-top: .5em;
    overflow: hidden;
    color: rgba(0, 0, 0, .68);
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 5px solid rgba(0, 0, 0, .05) !important;
}



.text-bold {
    font-weight: 700;
}


.qty .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    padding: 0 1px;
    min-width: 20px;
    text-align: center;
}

.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: black;
    width: 15px;
    height: 15px;
    font: 15px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 20%;
}

.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: black;
    width: 15px;
    height: 15px;
    font: 15px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 20%;
    background-clip: padding-box;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}


span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input {
    border: 0;
    width: 1%;
}

    input:disabled {
        background-color: white;
    }
