 
 <div class="container">
 <div class="my-3 p-3 bg-white rounded box-shadow">
        <h2 class="border-bottom border-gray pb-2 mb-0">Order Details</h2>
      
         
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">

            <div class="d-flex justify-content-between align-items-center w-100">
              <h5><strong class="text-dark">Food Item 1</strong></h5>
              <h5 class="text-dark">Price</h5>
            </div>
            <span class="d-block">Quantity : </span>
          </div>
       
       
          
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <h5><strong class="text-dark">Food Item 2</strong></h5>
              <h5 class="text-dark">Price</h5>
            </div>
            <span class="d-block">Quantity</span>
          </div>
      
   
          
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <h5><strong class="text-dark">Food Item 3</strong></h5>
              <h5 class="text-dark">Price</h5>
            </div>
            <span class="d-block">Quantity</span>
          </div>
        
       <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <h5><strong class="text-dark">Total</strong></h5>
              <h5 class="text-dark">Price</h5>
            </div>
           
          </div>
      </div>
 </div>
